/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 18, 2023, 5:48:55 PM
    Author     : admin
*/

/*.side-bar {
    width: 120px;
}*/

.side-bar-menu, .item {
    margin-bottom: 8px;
}

.side-bar-menu {
    font-size: 20px;
    font-weight: 700;
}

.item a {
    color: #888888;
    padding: 8px 8px;
    display: block;
}

.icon {
    margin-right: 4px;
}

.active {
    background-color: rgb(233, 221, 221);
    border-radius: 8px;
}

.btn-open-modal, .btn-cancel, .btn-create {
    border-color: transparent;
    padding: 8px; 
    border-radius: 8px
}

.btn-open-modal {
    margin-left: 8px;
    cursor: pointer;
    background-color: rgb(202, 194, 194);
    color: white;
}


.btn-open-modal:hover {
    background-color: rgb(167, 160, 160);
}

.btn-cancel:hover {
    background-color: rgb(231, 225, 225);
    cursor: pointer;
}

.btn-create {
    background-color: rgb(10, 228, 10);
    color: white;
}

.modal-subject {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-subject.open {
    display: flex;
}

.edit-subject.open {
    display: flex;
}

.modal-container-subject {
    width: 650px;
    min-height: 200px;
    background-color: #fff;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;
    background-color: #fff;
    padding: 12px 20px;
}

.modal-subject-title {
    border-bottom: 1px solid  rgb(186, 183, 183);
    margin-bottom: 12px;
    width: 100%;
}

.input {
    margin-bottom: 12px;
}

.modal-container-subject input {
    width: 100%;
    border: 1px solid rgb(210, 205, 205);
    padding: 4px 0;
}

.edit-container-subject input {
    width: 100%;
    border: 1px solid rgb(210, 205, 205);
    padding: 4px 0;
}

.button {
    text-align: right;
    padding: 8px 0;
    margin-top: 12px;
}

.delete-btn, .btn-open-edit {
    border: transparent;
}
