html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Trebuchet MS;
}

.abcdy {
    display: flex;
    height: 100vh;
}

.left_slide {
    width: 50%;
    color: #2e3856;
    background-image: url('https://lib.uwaterloo.ca/online_learning/sites/default/files/2020-05/online_learning.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.right_slide {
    width: 50%;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
}




.box_banner_mini {
    position: fixed;
    top: 5%;
    right: 5%;
    font-weight: 800;
    font-family: 'Trebuchet MS' ;
}

.login-header h1 {
    padding-left: 20px;
    margin-bottom: 0px;
    font-family: 'Segoe UI';
    font-size: 2rem;
    font-weight: 600;
}

.login {
    width: 80%;
    /* background-color: cadetblue; */
}

.login-header {
    font-size: 1rem;
    padding: 10px 10px;
}

.login-form {
    box-sizing: border-box;
    padding-bottom: 10%;
    text-align: center;
}

.form-input {
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
    gap: 10px;
}

.dob-input {
    width: 100%;
}

.title p {
    float: left;
    padding-left: 24px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(191, 39, 39);
    letter-spacing: 1px;
}
.radio-gender {
    display: flex;
    justify-content: space-around;
    width: 80%;

}

.gender-input {
    margin: 0 20px;
}

.radio-gender .gender-input .title-gender {
    font-weight: 600;
    color: rgba(51, 65, 85, 1);
}
.login input[type="email"],
.login input[type="password"],
.login input[type="text"],
.login input[type="date"]{
    width: 90%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    border: 2px solid #5830E0;
}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 400px;
    font-size: 14px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: #fff;
    font-weight: 600;
}


#image {
    display: inline-block;
    width: 25%;
    box-shadow: 0px 2px 4px 2px skyblue;
    font-weight: 400;
    margin: 0px 10px -8px;
    padding: 10px 10px;
    text-decoration: line-through;
}

#bt {
    display: inline-block;
    cursor: pointer;
    background-color:#2e3856;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px 2px black;
    margin: 0px 10px 0px;
    color: beige
}

#change {
    display: inline-block;
    cursor: pointer;
    background-color: #2e3856;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px 2px black;
    color: beige;
}

.form-signup button {

    width: 87%;
    background: #0d6efd;
    border: none;
    border-radius: 8px;
    color: slategrey;
    cursor: pointer;
    padding: 10px;
}

.title_signup {
    color: white;
    font-weight: 600;
}

.login-form-footer {
    padding: 20px 20px;
}

.text_footer {
    font-weight: 300;
}

.text_footer a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

/*responsive : */
@media screen and (max-width: 768px) {
    .left_slide {
        display: none;
    }

    .right_slide {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .select-day {
        width: 32.33333%;
        padding: 5px 5px;
    }

    .select-month {
        width: 34%;
        padding: 5px 4px;
    }

    .select-year {
        width: 27.5%;
        padding: 5px 5px;
    }

    .login input[type="email"],
    .login input[type="password"],
    .login input[type="text"],
    .login input[type="date"]{
        line-height: 2em;
    }

    .radio-inputs {
        width: 90%;
        line-height: 1em;
    }

    .box_banner_mini {
        display: none;
    }

    button#submit-button {
        padding: 6px 8px;
        top: 2%;
        left: 74%;

    }

}