@import "styleLeftnavDashboard.css"; 
.menu {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* #btn {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
} */

.nav-right_attr {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  height: 60px;
  margin: 0 14px;
}



.notificate {
  width: 9%;
  font-size: 2rem;
  text-align: right;
}

.notificate>a>i {
  line-height: 69px;
  color: #000000;
}

.avatarr {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.avatarr img {
  border-radius: 50%;
  height: 2em;
  object-fit: cover;
  width: 2em;
  cursor: pointer;
}

.dropdown-ofme {
  display: block;
  position: absolute;
  background-color: #11101d;
  top: 100%;
  right: 0%;
  border-radius: 8px;
  z-index: 1;
}

.quote {
  margin: -3px;
  width: 227px;
  height: 189px;
}

.quote:before {
  content: "";
  position: absolute;
  bottom: 185px;
  left: 200px;
  border-top: 10px solid #11101d;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  rotate: 180deg
}


.nav-dropdown {
  display: block;
}

.dropdown-i {
  display: flex;
  list-style: none;
  padding: 10px;
  color: white;
  font-size: 14px;
}

.dropdown-i .avatarr img {
  height: 3em;
  width: 3em;
}

#d-name {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
  padding: 0 10px;

}

#role {
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 12px;
  color: gray
}

.show {
  display: none;
}

.content {
  background-color: #f8f8f8;
  border-radius: 5px;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.title {
  text-align: center;
}

.title h3 {
  padding: 15px;
}

.list-group {
  margin-left: 12%;
}

.list-group li {
  padding: 10px;
}

.btn-danger {
  float: right;
  margin: 1rem;
  padding: 5px 10px;
  cursor: pointer;
}

.visiblle,
.hide,
.delete,
.edit {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 4px;
}

.delete:hover {
  background-color: #b2adde;
}

.edit:hover {
  background-color: chocolate;
}

.footer {
  height: 100px;
  background-color: #11101d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}



.force-overflow {
  min-height: 250px;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #11101D;
}

#style-1::-webkit-scrollbar-thumb {
  background-color: #000000;
}


@media (max-width: 420px) {

  .visiblle,
  .hide,
  .delete,
  .edit {
    padding: 5px;
    margin-bottom: 4px;
  }
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }

}