@import"styleLeftnavDashboard.css";
.menu {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* #btn {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
} */

.nav-right_attr {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 60px;
    margin: 0 14px;
}


.avatarr {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.avatarr img {
    border-radius: 50%;
    height: 2em;
    object-fit: cover;
    width: 2em;
    cursor: pointer;
}

.dropdown-ofme {
    display: block;
    position: absolute;
    background-color: #11101d;
    top: 100%;
    right: 0%;
    border-radius: 8px;
}

.quote {
    margin: -3px;
    width: 227px;
    height: 189px;
    z-index: 99;
}
.quote:before {
    content: "";
    position: absolute;
    bottom: 185px;
    left: 200px;
    border-top: 10px solid #11101d;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    rotate: 180deg
}


.nav-dropdown {
    display: block;
}

.dropdown-i {
    display: flex;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ccc ;
    color: white;
    font-size: 14px;
}

.dropdown-i .avatarr img{
    height:3em;
    width: 3em;
}

#d-name{
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    padding: 0 10px;

}

#role{
    margin-bottom: 0;
    padding: 0 10px;
    font-size: 12px;
    color:gray
}

.show{
    display: none;
}

.content {
    background-color: #f8f8f8;
    border-radius: 5px;
}

.filter {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}



.form-group{

}

.item-input input[type='text']{
    width: 100%;
}

.item-input select {
    width: 50%;
}

.item-input input[type='radio']{
    margin: 0 10px;
}
.btn-dark{
    padding: 10px;
    cursor: pointer;
}

.frame{
    width: 417px;
    height: 105px;
    border: 1px solid black;

}


.delete:hover {
    background-color: #b2adde;
}

.edit:hover {
    background-color: chocolate;
}

.footer {
    height: 100px;
    background-color: #11101d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.force-overflow {
    min-height: 250px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #11101D;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #000000;
}


/* The Modal (background) */
.mmodal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-ccontent {
    margin: auto;
    display: block;
    width: 80%;
    height: 316px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-ccontent,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-ccontent {
        width: 100%;
    }
}

@media (max-width: 420px) {

    .visiblle,
    .hide,
    .delete,
    .edit {
        padding: 5px;
        margin-bottom: 4px;
    }
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }

}