html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.abcdy {
    display: flex;
    height: 100vh;
}

.left_slide {
    width: 50%;
    color: #2e3856;
    background-image: url('https://lib.uwaterloo.ca/online_learning/sites/default/files/2020-05/online_learning.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.right_slide {
    width: 50%;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.box_banner_mini {
    position: fixed;
    top: 5%;
    right: 5%;
    font-weight: 800;
    font-family: 'Trebuchet MS' ;
}

.login-header h1 {
    padding-left: 20px;
    margin-bottom: 0px;
    font-family: 'Segoe UI';
    font-size: 2rem;
    font-weight: 600;
}

.login {
    width: 80%;
    /* background-color: cadetblue; */
}

.login-header {
    font-size: 1rem;
    padding: 10px 10px;
}

.login-form {
    box-sizing: border-box;
    padding-bottom: 10%;
    text-align: center;
}

.form-input {
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
    gap: 10px;
}

.login input[type="email"],
.login input[type="password"] {
    width: 90%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    border: 2px solid #5830E0;
}

.checkbox {
    transform: scale(1.3);
}

.forgot-pass a {
    text-decoration: none;
    list-style: none;
    color: #181b39;
    font-weight: 600;

}

.form-signin button {

    width: 87%;
    background: #0d6efd;
    border: none;
    border-radius: 8px;
    color: slategrey;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    padding: 10px;
}

.title_signin {
    color: white;
    font-weight: 600;
}

.login-form-footer {
    padding: 20px 20px;
}

.text_footer {
    font-weight: 300;
}

.text_footer a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

/*responsive : */
@media screen and (max-width: 768px) {
    .left_slide {
        display: none;
    }
    .right_slide {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .login input[type="email"],
    .login input[type="password"] {
        line-height: 2em;
    }


    .box_banner_mini {
        display: none;
    }
}

