html,
body {
    margin: 0;
    padding: 0;
}

.abcdy {
    align-items: center;

    bottom: 0;
    display: flex;
    background: url('tt.png') no-repeat center / cover;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    left: 0;
    line-height: 1.8;
    position: fixed;
    right: 0;
    top: -10%;
    z-index: 9999;
}

.abcd {
    width: calc((100%/12)*6);
}

.forgot-psw {
    font-family: 'Segoe UI';
}

.forgot-header h1 {
    color: #2e3856;
    font-size: 190%;
    font-weight: 700;
    line-height: 10vh;
}

#message{
    border: 2px solid red;
}

#message ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

#message li {
    letter-spacing: 1px;
}



.forgot-header p {
    color: #2e3856;
    font-size: 72%;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
}


.form-input {
    display: flex;
    align-items: flex-end;
}

.forgot-form input[type="text"] {
    width: 100%;
    line-height: 2em;
    border-radius: 5px;
    border: none;
}

.forgot-form input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.5);
    /* Màu chữ mờ */
    opacity: 0.5;
    /* Độ mờ */
    font-size: 18px;
    /* Kích thước chữ */
}

.forgot-form input[type="text"] {
    color: black;
    /* Màu chữ */
    font-size: 16px;
    /* Kích thước chữ */
}

.forgot-form input[type="text"]:focus {
    outline: none;
}

.UIInput-border {
    display: block;
    border: 1.34px solid #2e3856;
    width: 100%;
    margin-top: 1%;
}
.form-signin{
    margin-top: 5%;
    width: 100%;
}
.form-signin button {
    width: 37%;
    align-items: flex-start;
    background-color: #94aeb8;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button p{
    padding: 6px 20px;
}

@media screen and (max-width: 768px) {

    .forgot-header h1{
        font-size: 121%;

    }
    #message li{
        font-size: 59%;

    }
    .form-signin button{
        font-size: 18px;
        line-height: 0px;
    }

}