.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}


.dashboard-sidebar {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
}

.user-image {
    display: flex;
    padding: 30px;
    border-bottom: 1px solid #eee;
}


.dashboard-sidebar .user-image h3 {
    font-size: 15px;
    font-weight: 600;
    color: #081828;
    margin-top: 5px;
    margin-left: 20px;
}

.dashboard-sidebar .user-image h3 span {
    display: block;
    margin-top: 3px;
    color: #ccc;
    font-weight: 400;
}

.dashboard-sidebar .dashboard-menu {
    padding: 30px 0;
}

.dashboard-sidebar .dashboard-menu ul li {
    display: block;
    margin-bottom: 15px;
}

.dashboard-sidebar .dashboard-menu ul li a.active {
    border-left: 2px solid #5830e0;
}

.dashboard-sidebar .dashboard-menu ul li a {
    color: #888;
    font-weight: 500;
    font-size: 15px;
    display: block;
    position: relative;
    padding: 6px 30px;
}

.lni {
    display: inline-block;
    font: normal normal normal 1em/1 'LineIcons';
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dashboard-sidebar .dashboard-menu ul li a i {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    position: relative;
    top: 1px;
}



.dashboard-sidebar .dashboard-menu .button {
    margin-top: 60px;
    padding: 0 30px;
}

.dashboard-sidebar .dashboard-menu .button .btn {
    background: #fee8eb;
    color: #f73357;
    padding: 13px 35px;
    font-size: 14px;
    font-weight: 600;
}

