html,
body {
    margin: 0;
    padding: 0;
}

body {}

.abcdy {
    align-items: center;
    bottom: 0;
    display: flex;
    background: url('tt.png') no-repeat center / cover;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: -10%;
    z-index: 9999;
}

.abcd {
    width: calc((100%/12)*6);
}

.forgot-psw {
    font-family: 'Segoe UI';
}

.forgot-header h2 {
    color: #2e3856;
    font-size: 50px;
    font-weight: 700;
}


.form-input {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 10px 0;
}

.forgot-form input[type="password"] {
    width: 100%;
    line-height: 2em;
    border-radius: 5px;
    border: none;
}

.forgot-form input[type="password"]::placeholder {
    color: rgba(0, 0, 0, 0.5);
    /* Màu chữ mờ */
    opacity: 0.5;
    /* Độ mờ */
    font-size: 18px;
    /* Kích thước chữ */
}

.forgot-form input[type="password"] {
    color: black;
    /* Màu chữ */
    font-size: 16px;
    /* Kích thước chữ */
}

.forgot-form input[type="password"]:focus {
    outline: none;
}

.UIInput-border {
    display: block;
    border: 1.34px solid #2e3856;
    width: 100%;
    margin-top: 1%;
}

.form-signin {
    width: 100%;
}

.form-signin button {
    width: 26%;
    align-items: flex-start;
    background-color: #94aeb8;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button {
    padding: 10px 10px;
}

@media screen and (max-width: 768px) {
    .forgot-header h2 {
        font-size: 20px;
    }

    .form-signin button {
        width: 41%;
        font-size: 14px;
        font-weight: 700;
    }

    button {
        /* padding: 10px 10px; */
    }
}