/* resert css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*các thể có letter sẽ kế thừa*/
html {
    font-family: 'Jost';
}


.space{
    height: 46px;
    width: 100%;
}

.search_bar {
    float: left;
    width: 52%;
    position: relative;
}

.search_bar input {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 8px;
}

.btn-search {
    position: absolute;
    right: 24%;
    top: 35%;
}

.btn-search button {
    background: none;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}


.blog_item {
    border: 1px solid #2e3856;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}

.avatar_author img {
    border-radius: 50%;
    height: 9em;
    object-fit: cover;
    width: 9em;
    cursor: pointer;
}

.intro_author {
    display: flex;
    align-items: center;
}

.name_author {
    margin-left: 10px;
}

.name_author {
    color: #292929;
    font-size: 12px;
    font-weight: 600;
}

.body-item {
    display: flex;
}

.content_blog_item h2 {
    color: #292929;
    font-family: system-ui;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.blog_infor {
    display: flex;
    align-items: center;
}

.blog_tag {
    border: 1px solid black;
    border-radius: 6px;
}

.blog_tag a {
    list-style: none;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: 7px;
}

.create_at {
    margin-left: 10px;
}

.image-blog {
    font-size: 14px;
    line-height: 25.2px;
    text-align: center;
}

.widget {
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.widget-title {
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
}

.widget-title h3 {
    font-size: 20px;
    margin: 0;
    border-bottom: 2px solid #000;
}



.media {
    display: block;
    position: relative;
    /* align-items: flex-start; */
}

.lpa-right img{
    width: 100%;
    height: 200px;
}

.lpa-left {
    position: absolute;
    padding-left: 12px;
    bottom: 5%;
    color: #000;
    box-shadow: 0  0 rgba(0, 0, 0, 6.199);
}

.latest-post-aside .lpa-title h5 {
    margin: 0;
    font-size: 16px;
}

h5 a {
    text-decoration: none;
    color: #000;
}

.lpa-meta a {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.lpa-right img {
    opacity: 0.5;
    max-width: 100%;
}



.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.tag-cloud a {
    padding: 4px 15px;
    font-size: 13px;
    color: #000;
    background: #ddd;
    border-radius: 3px;
    margin-right: 4px;
    margin-bottom: 4px;
    text-decoration: none;
}

/* footer */
