@import"styleLeftnavDashboard.css";



.dashboard .main-content .details-lists .single-list {
    position: relative;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #eee;
    padding: 50px 30px;
    padding-left: 115px;
}

.dashboard .main-content .details-lists .single-list .list-icon {
    height: 65px;
    width: 65px;
    line-height: 69px;
    border: 2px solid #15c0b03d;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.dashboard .main-content .details-lists .single-list h3 {
    font-size: 23px;
    font-weight: 600;
    position: relative;
    top: -2px;
}

.dashboard .main-content .details-lists .single-list h3 span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.dashboard .main-content .details-lists .single-list .list-icon i {
    font-size: 25px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #15c0b0, #3fdd90);
}




.dashboard .main-content .activity-log {
    margin-top: 30px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #eee;
    padding-bottom: 20px;
}

.dashboard .main-content .activity-log .block-title {
    margin-bottom: 20px;
}

.dashboard-block .block-title {
    padding: 25px 30px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

.dashboard .main-content .activity-log ul li {
    display: block;
    position: relative;
    padding-right: 50px;
    padding-left: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.dashboard .main-content .activity-log ul li .log-icon {
    position: absolute;
    left: 30px;
    top: 25px;
}

.dashboard .main-content .activity-log ul li .title {
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

.dashboard .main-content .activity-log ul li .time {
    display: block;
    font-size: 14px;
    color: #888;
    margin-top: 2px;
}

.dashboard .main-content .activity-log ul li .remove {
    display: block;
}

.dashboard .main-content .activity-log ul li .remove a {
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    line-height: 15px;
    background: #f4193f;
    color: #fff;
    font-size: 10px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    border-radius: 3px;
}


.dashboard .main-content .recent-items {
    padding-bottom: 20px;
}


.dashboard-block {
    border: 1px solid #eee;
    border-radius: 6px;
    background: #fff;
    margin-top: 30px;
    padding-bottom: 30px;
}

.dashboard-block .block-title {
    padding: 25px 30px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

.dashboard .main-content .recent-items .block-title {
    margin-bottom: 20px;
}

.dashboard .main-content .recent-items ul li {
    display: flex;
    position: relative;
    padding-right: 50px;
    padding-left: 30px;
    padding-bottom: 25px;
    background: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.dashboard .main-content .recent-items ul li .image a img {
    height: 60px;
    width: 60px;
    border-radius: 3px;
}

.dashboard .main-content .recent-items ul li .product {
    display: grid;
    margin-left: 20px;
}

.dashboard .main-content .recent-items ul li .product .title {
    font-size: 14px;
    color: #666;
    font-weight: 500;
    margin-top: 15px;
}

.time {
    margin-top: -9px;
}

